* {
    color-scheme: dark;
    box-sizing: border-box;


}

body {
    min-height: 100vh;
    background: transparent;
}


h1 {
    font-family: monospace;
    letter-spacing:3px;
}

.register-form{
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    font-size: inherit;
}

.form-text {
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    font-family: monospace;
}

.requiredField{
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: bold;
    font-family: monospace !important;
}


.chat-list{
    background-color: aqua;
    padding: 0.10em;
    border: 2px solid black;
    border-radius: 0.5em;
    font-size: 1rem;
    text-align: center;
    color: rgb(19, 61, 249);
    letter-spacing: 2px;
}

.navbar-brand{
    background-color: rgb(100, 100, 218);
    color:white;
    padding: 0.2em;
    border-radius: 0.2em;
}


#chat2 .form-control {
    border-color: transparent;
    }
    
    #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }


.message-bubble{
    background-color: #f5f6f7;
    font-weight: 500;
}

#message-container{
    margin-bottom: 10px !important;
    height:700px;
}

.register-form > li,small{

    display: none;
}

.register-form  input,.register-form > input:focus, .passwordinput:focus{
    border-radius: 10px;
    margin-bottom: 1em;
    background: transparent;
    background-image: url(https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=327&q=80);
    color: white !important;
}

.message-time{
    font-size:0.6rem;
    font-weight: 200;
}

.alert{
    color: red;
    display: block;
}

.FormControlInput1{
    word-break: break-all;
}

.img-logo{
    height: 2rem;
    width: 2em;
}

.fancy {
    position: relative;
    font-family: sans-serif;
    display:table;
    cursor:pointer;
    transition:.6s;
  }
  .fancy:before,
  .fancy:after {
    content:attr(data-text);
    transition:.6s;
  }
  .fancy:before {
    left: 0;
    top: 0;
    position: absolute;
    z-index:-1;
    text-shadow:
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px,
     0px 0px;
    -webkit-mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(248, 11, 11, 0.964) 0 6px);
            mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(85, 213, 50, 0.97) 0 6px);
  }
  .fancy:hover {
    transform:translate(-10px,-10px);
  }  
  .fancy:hover:before {
    text-shadow:
     1px 1px,
     2px 2px,
     3px 3px,
     4px 4px,
     5px 5px,
     6px 6px,
     7px 7px,
     8px 8px,
     9px 9px,
     10px 10px;
  }