{% extends 'base.html' %}
{% load static %}

{% block nav %}
<div class="row d-flex justify-content-center">
    <div class="col-10">
        <nav class="navbar mgs-user-name  fixed-top">
            <div class="container-fluid d-flex justify-content-start">
                <a class="navbar-brand me-0" href="">{{ other_user.username }}</a>
                <p class="text-muted mb-0 mt-2 navbar-user-connected"></p>
            </div>
        </nav>
    </div>
</div>{% endblock nav %}

{% block content %}

<div class="row message-detail mt-5 d-flex justify-content-center py-1">
    <div class="col-12 col-md-10 col-lg-8 overflow-auto message-container" id="message-container">
        
        <!-- <div class="divider d-flex align-items-center mb-4">
            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Hello, {{request.user }}</p>
        </div> -->
        <div class="start-div">
            {% for message in messages %}
            {% if request.user == message.sender %}
            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                <div class="person-second">
                    <p class="small message-bubble p-2 me-3 mb-1 text-white rounded-3 bg-primary"><span
                            class=" d-block message-time text-white text-danger">{{ message.timestamp|date:'D,h:i A' }}</span>{{ message.message }}

                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1"
                style="width: 45px; height: 100%;">
            </div>{% elif request.user == message.receiver %}
            <div class="d-flex flex-row justify-content-start">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1"
                style="width: 45px; height: 100%;">
                <div class="person-first">
                    <p class="message-bubble small p-2 ms-3 mb-1 rounded-3"><span class=" d-block message-time">{{ message.timestamp|date:'D,h:i A' }}</span>{{ message.message }}</p>
                </div>
            </div> {% endif %}{% endfor %}
        </div>
    </div>
    <div class="position-sticky input-form bottom-0">
        <form action="" method="post">{% csrf_token %}
            <div class="card-footer text-muted d-flex justify-content-start align-items-center">u
                <textarea type="input" class="form-control form-control-sm" rows='2' id="FormControlInput1"
                    placeholder="Type message"></textarea>
                <button id="send-button" class="ms-3 btn btn-success" href="#!"><i
                        class="fa-solid fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
</div>


{{ user_name_id|json_script:'json-username' }}
{{ request.user.id|json_script:'json-requestusername'}}
<script src="{% static 'js/pm-detailview.js' %}"></script>
{% endblock content %}